In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('Georgia_Counties.csv')

In [3]:
df

,OBJECTID,FacilityID,Name,GEOID10,MSA,ARC,FeatureID,TurnOut,ShapeSTArea,ShapeSTLength
0,1,NaN,Charlton,13049,No,No,NaN,NaN,2.183016e+10,1.046678e+06
1,2,NaN,Emanuel,13107,No,No,NaN,NaN,1.925186e+10,7.933625e+05
2,3,NaN,Wayne,13305,No,No,NaN,NaN,1.810416e+10,7.269559e+05
3,4,NaN,Ben Hill,13017,No,No,NaN,NaN,7.078535e+09,4.721615e+05
4,5,NaN,Appling,13001,No,No,NaN,NaN,1.428885e+10,6.922768e+05
...,...,...,...,...,...,...,...,...,...,...
154,157,NaN,Forsyth,13117,Yes,No,NaN,NaN,6.890045e+09,4.036309e+05
155,158,NaN,Gwinnett,13135,Yes,Yes,NaN,NaN,1.217160e+10,5.222393e+05
156,159,NaN,Clayton,13063,Yes,Yes,NaN,NaN,4.020808e+09,3.819912e+05
157,160,NaN,Fulton,13121,Yes,Yes,1.0,73.538781,1.490242e+10,9.291120e+05
158,161,NaN,Carroll,13045,Yes,No,NaN,NaN,1.404369e+10,5.752774e+05